[Unit]
Description=Git Pull Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Type=oneshot
ExecStart=/home/ubuntu/scripts/git_pull.sh

[Install]
WantedBy=multi-user.target